<form method="POST" action="/posts/:id">
  <h1>Edit your post: </h1>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <p>
    <label for="name">Post Title: </label>
    <input type="text" name="post[name]" id="name" value="<%= @post.name %>">
  </p>

  <p>
    <label for="content">Post Content: </label>
    <textarea name="post[content]" id="content"><%= @post.content %></textarea>
  </p>
  <button type="submit" value="submit">Submit</button>
</form>
