<form method="POST" action="/posts/:id">
  <h1>Edit your post: </h1>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <p>
    <label for="name">Post Title: </label>
    <input type="text" name="post[name]" id="name" value="<%= @post.name %>">
  </p>

  <p>Post content: <%= @post.content %></p>
  <input type="text" id="content" name="content"><br>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <button type="submit" value="submit">Submit</button>
</form>
