<form method="POST" action="/posts/:id">
  <h1>Type in your new post: </h1>
  <label for="name">Name: </label>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <label for="content">Content: </label>
  <input type="text" id="content" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>
