<form method="POST" action="/posts/:id">
  <h1>Edit your post: </h1>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <h3>Post name: <%= @post.name %></h3>
  <input type="text" id="name" name="name"><br>

  <p>Post content: <%= @post.content %></p>
  <input type="text" id="content" name="content"><br>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <button type="submit" value="submit">Submit</button>
</form>
